<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd 
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop.xsd"> 
		
	<!-- TARGET CLASSES BEAN DEFINITION -->	
	<bean class="in.yoy.services.BankServices" id="bnkSrv" />
	<bean class="in.yoy.services.PaytmServices" id="ptmSrv" />
	
	<!-- ASPECT CLASS BEAN DEFINITION -->
	<bean class="in.yoy.aspects.LogInAspect" id="logInID" />
	<bean class="in.yoy.aspects.SecurityAspect" id="secID" />
	
	<!-- 2 => To select only specific pointcut out of multiple simply specify that specific meth only -->
	<!-- HUM SINGLE aop:aspect M MULTIPLE POINT CUT DEFINE KR SKTE HAI -->
	<aop:config>
		<aop:aspect ref="secID"> 
		
			<!-- Point Cut Number 1 at method upi() -->
			<aop:pointcut expression="execution(* in.yoy.services.BankServices.upi())" id="bnkPtCt1"/> 
			<aop:before method="suraksha" pointcut-ref="bnkPtCt1"/> 
			<aop:after method="suraksha" pointcut-ref="bnkPtCt1"/>	
			
			<!-- Point Cut Number 2 at method net() -->
			<aop:pointcut expression="execution(* in.yoy.services.BankServices.net())" id="bnkPtCt2"/> 
			<aop:before method="suraksha" pointcut-ref="bnkPtCt2"/> 
			<aop:after method="suraksha" pointcut-ref="bnkPtCt2"/>
			
		</aop:aspect>
	</aop:config>

</beans>

